.body_ {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  & .aside_ {
    width: 40%;
    max-width: 330px;
    border-right: 1px solid #ededed;
  }
  & .main_ {
    position: relative;
    padding: 1rem 0.8rem 0.3rem;
  }
}

.stylered {
  color: red !important;
}
